@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reseteo y ajustes del contenedor principal de React */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}